.BarraSuperiorTela {
    margin-bottom: 1em;
    padding: 0.5em;
    background-color: #6866e6;
    border-radius: 2px;
}

.TitulosMenu {
    margin: 0em 1em;
}

.TitulosMenuInativo {
    color: lightgray;
}

.TitulosMenuAtivo {
    color: white;
}