#listaNavegacao {
    visibility: hidden;
    display: none;
}

.retangulo-externo {
    margin-top: 3em;
    margin: 20px;
    padding: 20px;
    border: 2px solid black;
}

@media (max-width: 576px) {
    .retangulo-externo {
        margin: 20px;
        border: 2px solid black;
    }
}